.buton {
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
}
.btn-main {
    color: black;
    background-color: white;
    border: 1px solid #74C69D;
}
.btn-main:hover {
    background-color: black;
    color: white;
}
.btn-second {
    color: white;
    background-color: black;
    border: 1px solid black;
}
.btn-second:hover {
    background-color: white;
    color: black;
}