.btn {
    display: inline-block;
    padding: 0.5em 2.2em;
    background-color: white;
    color: black;
    font-family: inherit;
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
    border-radius: 0.2em;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.333);
    border: none;
    user-select: none;
    word-spacing: 0;
    letter-spacing: 0em;
}
.btn:hover {
    background-color:black;
    color: white;
    box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.467);
}

.btn-black {
    background-color: black;
    color: white;
}
.btn-black:hover {
    background-color: white;
    color: black;
}