.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.hero-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 40%;
}
.main-image {
    width: 50%;
}


.hero-description {
    color: rgb(255, 255, 255, 0.7);
}