@import '../base/base.css';
@import '../base/layout.css';
@import '../components/btn.css';
@import '../components/hero.css';

.main-header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 50px;
}
.links {
    display: flex;
    gap: 40px;
}
.link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.link:hover {
    text-decoration: underline;
}

@media (max-width:1000px) {
    .hero-text, 
    .main-image {
        width: 100%;
    }
}
.title-welcome {
    color: white;
    
}
.partners-column {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.title-name {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    color: #74C69D;
} 
.title-welcome {
    color: white;
}
.title {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: 30px;
}
.description {
    font-size: 15px;
}
.partners-logos {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;

} 
@media (max-width:900px) {
    .logos {
        width: 25%;
    }
}
@media (max-width:700px) {
    .logos {
        width: 100%;
    }
}