@import '../base/base.css';
@import '../components/btn.css';
@import '../3rd-party/font-awesome.min.css';


.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}
.logo {
    height: 50px;
}

.links {
    display: flex;
    gap: 40px;
}
.link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

@media (max-width: 1000px) {
    .link{
       display: none;
   }
}

@media (max-width:1000px) {
    .text-column, 
    .image {
        width: 100%;
    }
}

.column {
    min-height: 470px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
}
.main-column {
    flex-wrap: wrap-reverse;
}
.text-column {
    padding-top: 42px;
    flex-grow: 1;
    flex-basis: 300px;
    max-width: 415px;
   flex-shrink: 1;
}
.text-column-white {
    color: white;
}
.image {
    flex-grow: 1;
    flex-basis: 410px;
    max-width: 645px;
    flex-shrink: 1;
}

.description {
    font-size: 15px;
    line-height: 20px;
}
.description-white {
    color: rgb(255, 255, 255, 0.7);
}
.title {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 40px;
}
.title-white {
    color: white;
}
.title-point {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    color: #74C69D;
} 
.title-point-white {
    color: white;
}


.info-column {
    padding: 40px 0;
    align-items: center;
    text-align: center;
    line-height: 30px;
}

.info-logos {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

} 
@media (max-width:900px) {
    .logos {
        padding: 0 100px;
        width: 100%;
    }
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.social {
    color: white;
    text-decoration: none;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
}
.copyright {
    color: white;
}